  .topnav {
    /*overflow: hidden;*/
    background-color: #e9e9e9;
    display: inline-flex;
    width: 100%;
  }

  /* Style the links inside the navigation bar 
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }*/
  
  /* Change the color of links on hover
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Style the "active" element to highlight the current page 
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }*/
  
  /* Style the search box inside the navigation bar*/ 
  #srchbox { 
    margin-top:15px;
    
    /*margin-left: 250px;
    margin-right: 16px;
    margin-bottom: 25px;*/
  }
  
  #srchbox input {
    height: 30px;
    width: 250px;
  }


  #Toolbar {
    float: right;
    height: 50px;
  }



  #UTube, #srchbox, #sprites {

    display: inline;

  }

  #srchbutton {

    height: 36px;
    width: 46px;

  }
  #srchbox {
    display:inherit;
  }
  #UTube {
    margin-right: 5%;
  }

  #sprites {
    position: absolute;
    right: 0;
  }
  #Camera {
    width: 10px;
    height: 10px;
    background: url(../resources/Toolbar.png) 0 0;
  }

  
  h4 {
    display:inline;
  }


  #subscribebutton {
    background-color: red;
    color: white;
    margin-left: 100px;

  }

  #descriptioncontent {
    color: gray;
    font-size: 80%;
  }

  #inner-description {
    margin-left: 100px;
  }


  #comment-buttons {
    float: right;
  }

  /* Left and right column */
.column.side {
  width: 10%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}
li {
  width: 100%;
}
.roundedimg {
  border-radius: 50%;
}

.name{
  font-family: roboto, Arial, Helvetica, sans-serif;
  
  font-weight: bold;
  padding-right: 1rem;
}

.time{
  font-family: roboto,Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: lighter;
}

.column1 {
  float: left;
  width: 65%;
}

.column2 {
  float: left;
  width: 35%;
}

.column10 {
  float: left;
  width: 10%;
}

.column90 {
  float: right;
  width: 90%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  background-color: red;
}

.nobullets {
  list-style-type:none
}
.expand{
  width: 100%;
  height: 50px;
}
.no-right-margin {
  margin-right: -1;
}